body {

    background-color: chartreuse;
}

.unorderedList {

    background-color: darkblue;
}

ol li {
    color: darkred;

}

.boldHeading {

    font: 800;
    font: x-large;
    color: darkmagenta;
}